$background: #3A3A4D;
$tile-color: #2E2E3D;
$color: #efefef;

html {
  margin:0; 
  padding:0;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial;
}

body {
  margin:0; 
  padding:0;
  background: $background;
  padding: 25px;

}

*, *:before, *:after {
  box-sizing: border-box;
}


h1,
h2 {
  color: $color;
  font-weight: normal;
  font-weight: 300;
  margin: 30px auto;

  a {
    color: $color;
    border-bottom: 2px solid $color;
    text-decoration: none;
    padding-bottom: 3px;
    
    &:hover {
      color: $tile-color;
      border-color: $tile-color;
    }
  }
}
h2 { margin-bottom:0; }
button {
  padding: 12px 30px;
  box-shadow: none;
  border: none;
  color: $color;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: rgba(0, 0, 0, 0.35);
    color: $tile-color;
  }

  &:focus {
    outline: none;
  }
}
main hr { border:1px solid transparent; }
pre {
  display:block;
  float:left;
  width:100%;
  background: rgb(156, 156, 161);
  padding: 20px;
}
p, a { 
  font-weight:100;
  color:rgb(239, 239, 239);
  text-align: center;
/*  text-decoration:none; */
}
i:before, i:before {
  font-size: 20px;
  position: absolute;
  line-height: 0px;
}
.list {
  background-color: rgba(0, 0, 0, 0.2);
  width: 250px;
  width: 90%;
  width: auto;
  position: relative;
  display: block;
  margin: 0px;
  display: block;
  float:left;
  position:relative;
  margin-top: 20px;
  min-height: 40px;
}

.tile {
  display: block;
  position: absolute;
  background-color: $tile-color;
  color: $background;
  padding: 5px;
  font-weight: bold;

}

.layout {
  color: $color;
  margin-bottom: 15px;
  
  label {
    margin-right: 15px;
    cursor: pointer;
    
    &:hover {
      color: $tile-color;
    }
  }

  input {
    margin-right: 3px;
  }
}
